env: tst
gcp2:
  enabled: true
sql:
  instance: ent-sobek-tst:europe-west1:sobek-db-1=tcp:5432

configMap:
  blobstoreProjectId: ent-sobek-tst
  gcsBucketName: ror-sobek-tst

auth0:
  entur:
    internal:
      url: https://internal.staging.entur.org/
      audience: https://api.staging.entur.io,https://ror.api.staging.entur.io
    partner:
      url: https://partner.staging.entur.org/
      audience: https://ror.api.staging.entur.io,https://api.staging.entur.io
  client:
    url: https://internal.staging.entur.org/oauth/token
    audience: https://ror.api.staging.entur.io

organisation:
  service: http://baba.tst.entur.internal

roleAssignmentExtractor: baba

rbac:
  enabled: true

ingress:
  enabled: true
  domainName: .staging.entur.io