env: tst
gcp2:
  enabled: true
sql:
  instance: ent-sobek-tst:europe-west1:sobek-db-1=tcp:5432

configMap:
  blobstoreProjectId: ent-sobek-tst
  pubsubProjectId: ent-sobek-tst
  pubsbuTopicName: ror.sobek.changelog
  gcsBucketName: ror-sobek-gcp2-tst

auth0:
  ror:
    url: https://ror-entur-staging.eu.auth0.com/
    audience: https://ror.api.staging.entur.io
  entur:
    internal:
      url: https://internal.staging.entur.org/
    partner:
      url: https://partner.staging.entur.org/
  client:
    id: 9x7HiPyzNWLZuHIaeTzI5QgGBv5hI9w7
    url: https://internal.staging.entur.org/oauth/token
    audience: https://ror.api.staging.entur.io

organisation:
  service: http://baba.tst.entur.internal

roleAssignmentExtractor: baba

rbac:
  enabled: true

ingress:
  enabled: true
  domainName: .staging.entur.io