env: prd
gcp2:
  enabled: true
sql:
  instance: ent-sobek-prd:europe-west1:sobek-db-1=tcp:5432

configMap:
  blobstoreProjectId: ent-sobek-prd
  gcsBucketName: ror-sobek-prd

auth0:
  ror:
    url: https://auth2.entur.org/
    audience: https://ror.api.entur.io
  entur:
    internal:
      url: https://internal.entur.org/
    partner:
      url: https://partner.entur.org/
  client:
    url: https://internal.entur.org/oauth/token
    audience: https://ror.api.entur.io

organisation:
  service: http://baba.prd.entur.internal

roleAssignmentExtractor: baba

rbac:
  enabled: true

ingress:
  enabled: true
  domainName: .entur.io